# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

example_jd.js
slack_button.html
testing_creds.md
tests/config.js
tests/_config.js

# Application specific files
node_modules
npm-debug.log
.sass-cache

/logs
jsconfig.json
.vscode
coverage
.nyc_output
jsdoc